BOT_TOKEN=twoj_token_od_botfather
MODE=polling
OWNER_CHAT_ID=twoje_chat_id_z_komendy_/id
SHEET_ID=id_arkusza_z_url_google_sheets
GOOGLE_CREDS_PATH=credentials.json
CSV_PATH=bookings_demo.csv
WEBHOOK_URL=https://twoja-domena.pl/webhook
WEBHOOK_SECRET=moj-sekret-123
PORT=8000
